@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ruthie&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        font-family: "Ruthie", cursive;
    font-weight: 600;
    font-style: normal;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: rgb(34, 34, 34);
    text-transform: capitalize;
}

.p1{
    height: 100%;
    width: 100%;
    background: #000;
    color: #8810f8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    white-space: nowrap;
}
.p2{
    height: 100%;
    width: 100%;
    background: #8810f8;
    color: #000;
    font-size: 700px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
}
.p2 div{
        transform: translateX(10%);
}